header {
    text-align: center;
}

img {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

p { 
    font-size: small;
}
nav {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-block: 1px;
}
    
nav li {
    color: white;
    display: inline;
    padding-inline: 20px;
}
nav ul {
    list-style: none ;
}

section {
    background-color: rgb(234, 234, 234);
}

.card-program {
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding : 20px;
    margin: 20px;
}

h3 {
    color: blue;
    
}

.card-program img {
    display: block;
    border-radius: 10px;
    margin: 20px auto; /* Center the image horizontally */
    width: 50%; /* Adjust the width to reduce the size of the image */
    max-width: 300px; /* Optional: Set a maximum width for better control */
    height: auto; 
}

.card-curriculum {
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding : 20px;
    margin: 20px;
    font-size: small;
}

.card-curriculum h4 {
    color: blue;
}

.card-Admission {
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding : 20px;
    margin: 20px;
    font-size: small;
}

.card-Admission h4 {
    color: blue;
}

.card-Contact {
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding : 20px;
    margin: 20px;
    font-size: small;
}

.card-Contact h4 {
    color: blue;
}

footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding-block: 1px;
}